<!-- templates/login.html -->
{% extends "layout.html" %} {% block title %}HomePage{% endblock %} {% block
content %}
<h2>Bem-vindo ao Dashboard</h2>
<p>Você está logado como: {{ user_email }}</p>
<link href="../static/css/dashboard.css" rel="stylesheet" />
<div>
  <div class="row text-center mt-4">
    <div class="col-sm-12">
      <div class="border border-0 m-2">
        <a
          class="card-presentation"
          href="{{ url_for('novo_lancamento') }}"
          style="text-decoration: none"
        >
          <h5>Novo Lançamento</h5>
        </a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="border border-0 m-2">
        <a
          class="card-presentation"
          href="{{ url_for('lancamentos') }}"
          style="text-decoration: none"
        >
          <h5>Lançamentos</h5>
        </a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="border border-0 m-2">
        <a
          class="card-presentation"
          href="{{ url_for('lancamento_programado') }}"
          style="text-decoration: none"
        >
          <h5>Lançamento Programado</h5>
        </a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="border border-0 m-2">
        <a
          class="card-presentation"
          href="{{ url_for('transacao_pendente') }}"
          style="text-decoration: none"
        >
          <h5>Os's a Receber</h5>
        </a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="border border-0 m-2">
        <a
          class="card-presentation"
          href="{{ url_for('transacoes_confirmadas') }}"
          style="text-decoration: none"
        >
          <h5>OS's Recebidas</h5>
        </a>
      </div>
    </div>
    <div class="col-sm-12" hidden>
      <div class="border border-0 m-2">
        <a class="card-presentation" href="">
          <h5>Extrato</h5>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
