<!-- templates/lancamentos.html -->
{% extends "layout.html" %}

{% block title %}Lançamentos{% endblock %}

{% block content %}
<script src="../static/js/formatarValor.js"></script>

<div class="container mt-4">
    <h2>Lançamentos do Mês de {{ mes }} de {{ ano }}</h2>

    <!-- Formulário para seleção de mês e ano -->
    <form id="filtro-lancamentos" method="GET" action="{{ url_for('lancamentos') }}">
        <div class="row mb-4">
            <div class="col-4">
                <select name="mes" class="form-select" id="select-mes">
                    {% for numero_mes, nome_mes in meses.items() %}
                    <option value="{{ numero_mes }}" {% if numero_mes==mes %}selected{% endif %}>
                        {{ nome_mes }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                <select name="ano" class="form-select" id="select-ano">
                    {% for ano_opcao in anos %}
                    <option value="{{ ano_opcao }}" {% if ano_opcao==ano %}selected{% endif %}>
                        {{ ano_opcao }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>

    <!-- Resultados e tabela de lançamentos -->
    <div class="row my-4 rounded-3" align="end">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col bg-white" style="color: gray;">
            <div class=" mt-2 d-flex justify-content-between" style="font-size: small;">
                <label>Saldo atual</label>
                <span class="text-success">{{caixa}}</span>
            </div>
            <hr>
            <div align="center">
                <span>Resultados (R$)</span>
            </div>
            <div class="d-flex justify-content-between" style="font-size: small;">
                <label>Receitas</label>
                <span class="text-success">{{receita}}</span>
            </div>
            <div class="d-flex justify-content-between" style="font-size: small;">
                <label>Despesas</label>
                <span class="text-danger">{{despesas}}</span>
            </div>
            <div class="d-flex justify-content-between" style="font-size: small; font-weight: bold;">
                <label>Resultado</label>
                <span>{{resultado}}</span>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nº Lançamento</th>
                <th>Usuário</th>
                <th>Data</th>
                <th>Origem</th>
                <th>Categoria</th>
                <th>Espécie</th>
                <th>Destinatário</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Valor (R$)</th>
                <th>Obs.</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for day, day_data in transactions.items() %}
            {% for transaction_id, transaction in day_data.transactions.items() %}
            <tr>
                <td>{{ transaction.numero_transaction }}</td>
                <td>{{ transaction.user }}</td>
                <td>{{ day }}/{{ mes }}/{{ ano }}</td>
                <td><a href="/profile_user/{{transaction.id_origem}}">{{ transaction.origem }}</a></td>
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.especie }}</td>
                <td>{{ transaction.destinatario }}</td>
                <td>{{ transaction.description }}</td>
                <td>
                    {% if transaction.type == 'c' %}
                    <span class="badge bg-success">Crédito</span>
                    {% else %}
                    <span class="badge bg-danger">Débito</span>
                    {% endif %}
                </td>
                <td>
                    {% if transaction.type == 'c' %}
                    <span class="text-success">{{ transaction.amount }}</span>
                    {% else %}
                    <span class="text-danger">-{{ transaction.amount }}</span>
                    {% endif %}
                </td>
                <!--<td>
                     Botão para editar o lançamento -->
                    <!--<button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#editLancamentoModal"
                        data-id="{{ transaction_id }}" data-date="{{ day }}/{{ mes }}/{{ ano }}"
                        data-category="{{ transaction.category }}" data-especie="{{ transaction.especie }}"
                        data-destinatario="{{ transaction.destinatario }}" data-description="{{ transaction.description }}"
                        data-type="{{ transaction.type }}" data-amount="{{ transaction.amount }}">
                        Editar
                    </button>
                </td>-->
                
                <td
                    style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                    title="{{ transaction.observacao }}"
                    data-toggle="tooltip"
                    >
                    {{ transaction.observacao or '-' }}
                </td>
                <td align="center">
                <button
                    class="btn btn-sm btn-outline-info"
                    data-id="{{ transaction_id }}"
                    data-date="{{ ano }}-{{ '%02d' % mes }}-{{ day }}"
                    data-observacao="{{ transaction.observacao }}"
                    onclick="abrirObservacao(this)"
                >
                    📝
                </button>
                </td>
                <td>
                    <!-- Botão para editar o lançamento -->
                    <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteTransactionModal" data-id="{{ transaction_id }}" data-date="{{ day }}/{{ '%02d' % mes }}/{{ ano }}">
                        Deletar
                    </button>
                </td>
                
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <span style="font-weight: bold;">Resultado R${{ saldo[day] | round(2) }}</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal para Obs -->
<div class="modal fade" id="observacaoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Observação do Lançamento</h5>
      </div>
      <div class="modal-body">
        <input type="hidden" id="obsTransactionId">
        <input type="hidden" id="obsDate">

        <textarea
          class="form-control"
          id="obsTexto"
          rows="5"
          placeholder="Digite a observação..."
        ></textarea>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" onclick="salvarObservacao()">Salvar ou Editar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para gerar lançamento -->
<div class="modal fade" id="lancamentoModal" tabindex="-1" role="dialog" aria-labelledby="lancamentoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="lancamentoForm" method="post" action="/post_lancamento">
        <div class="modal-content">
            <div class="modal-header">
                <div style="width: 100%;">
                <Label style="font-size: small; font-weight: bold;">Tipo</Label>
                <div>
                <select class="form-select" name="typeTransaction" required>
                    <option value="c">Receita</option>
                    <option value="d" selected>Despesa</option>
                </select>
                </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="my-4">
                        <label for="origem" style="font-size: small;">Origem</label>
                        <select class="form-select" name="origem" required>
                            {% if destinatarios %}
                                {% for id in destinatarios %}
                                {% if destinatarios[id] == 'Central Vazamentos' %}
                                    <option value="{{ destinatarios[id] }}" selected>
                                    {{ destinatarios[id] }}
                                    </option>
                                {% else %}
                                    <option value="{{ destinatarios[id] }}">
                                    {{ destinatarios[id] }}
                                    </option>
                                {% endif %}
                                {% endfor %}
                            {% else %}
                                <option value="" disabled selected>
                                Nenhum destinatário cadastrado
                                </option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="row">
                        <div class="col">
                            <Label style="font-size: small;">Valor (R$)</Label>
                            <input type="tel" class="form-control" name="amount" id="amount" value="0,00" required>
                        </div>
                        <div class="col">
                            <Label style="font-size: small;">Data</Label>
                            <input class="form-control" type="date" id="date" name="date" required>
                        </div>
                    </div>
                    <div class="my-2">
                        <Label style="font-size: small;">Categoria</Label>
                        <select id="categoria" class="form-select" name="categoria" required>
                            <option>Selecionar</option>
                            <option value="pessoal">Pessoal</option>
                            <option value="publicidade">Publicidade</option>
                            <option value="escritório">Escritório</option>
                            <option value="comissão">Comissão</option>
                            <option class="transporte">Transporte</option>
                        </select>
                    </div>

                    <label for="especie" style="font-size: small;">Espécie</label>
                    <select id="especie" class="form-select" name="especie">
                        <option value="">Selecione primeiro uma opção acima</option>
                    </select>
                    <div class="my-4">
                        <label for="destinatario" style="font-size: small;">Destinatário</label>
                        <select class="form-select" name="destinatario" required>
                        {% if destinatarios %}
                            <option value="" selected disabled>Selecionar</option>
                            {% for id in destinatarios %}
                            <option value="{{ destinatarios[id] }}">
                                {{ destinatarios[id] }}
                            </option>
                            {% endfor %}
                        {% else %}
                            <option value="" selected disabled>
                            Nenhum destinatário cadastrado
                            </option>
                        {% endif %}
                        </select>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <Label style="font-size: small;">Descrição</Label>
                            <textarea class="form-control" type="text" name="descricao"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2" style="width: 100%;">Salvar</button>
                
            </div>
        </div>
        </form>
    </div>
</div>

<!-- Modal para cadastrar destinatário -->
<div class="modal fade" id="destinatarioModal" tabindex="-1" role="dialog" aria-labelledby="destinatarioModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Cadastrar Destinatário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="destinatarioForm" method="post" action="/cadastrar_destinatario">
                    <div class="my-2">
                        <div>
                            <Label style="font-size: small;">Nome Destinatário</Label>
                            <input class="form-control" type="text" id="namedestinatario" name="namedestinatario">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2" style="width: 100%;">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para deletar transação -->
<div class="modal fade" id="deleteTransactionModal" tabindex="-1" role="dialog" aria-labelledby="deleteTransactionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <div align="center">
                    <h5>Remover Transação?</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form id="destinatarioForm" method="post" action="/delete_transaction">
                            <input class="form-control" type="text" id="deleteTransactionId" name="deleteTransactionId" hidden>
                            <input class="form-control" type="date" id="deleteDate" name="deleteDate" hidden>
                    
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" style="width: 40%;" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" style="width: 40%;">Confirmar</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar lançamento -->
<div class="modal fade" id="editLancamentoModal" tabindex="-1" role="dialog" aria-labelledby="editLancamentoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="editLancamentoForm" method="post" action="/editar_lancamento">
            <div class="modal-content">
                <div class="modal-header">
                    <select class="form-select" name="editTypeTransaction" id="editTypeTransaction"
                        style="border: none;">
                        <option value="c">Receita</option>
                        <option value="d">Despesa</option>
                    </select>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="editTransactionId" name="transaction_id"> <!-- ID do lançamento -->

                    <div class="row">
                        <div class="col">
                            <Label style="font-size: small;">Valor (R$)</Label>
                            <input class="form-control" name="editAmount" id="editAmount" required>
                        </div>
                        <div class="col">
                            <Label style="font-size: small;">Data</Label>
                            <input class="form-control" id="editDate" name="editDate" required>
                        </div>
                    </div>
                    <div class="my-2">
                        <Label style="font-size: small;">Categoria</Label>
                        <select class="form-select" id="editCategoria" name="editCategoria" required>
                            <option>Selecionar</option>
                            <option value="pessoal">Pessoal</option>
                            <option value="publicidade">Publicidade</option>
                            <option value="escritório">Escritório</option>
                            <option value="comissão">Comissão</option>
                            <option value="transporte">Transporte</option>
                        </select>
                    </div>

                    <label for="editEspecie" style="font-size: small;">Espécie</label>
                    <select id="editEspecie" class="form-select"  name="editEspecie">
                        <option value="">Selecione primeiro uma opção acima</option>
                    </select>

                    <div class="my-4">
                        <label for="editDestinatario" style="font-size: small;">Destinatário</label>
                        <select
                        class="form-select"
                        name="editDestinatario"
                        id="editDestinatario"
                        required
                        >
                        {% if destinatarios %}
                            <option value="" disabled selected>Selecionar destinatário</option>
                            {% for id in destinatarios %}
                            <option value="{{ destinatarios[id] }}">
                                {{ destinatarios[id] }}
                            </option>
                            {% endfor %}
                        {% else %}
                            <option value="" disabled selected>
                            Nenhum destinatário cadastrado
                            </option>
                        {% endif %}
                        </select>

                    </div>

                    <div class="row my-2">
                        <div class="col">
                            <Label style="font-size: small;">Descrição</Label>
                            <input class="form-control" type="text" name="editDescricao" id="editDescricao" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mt-2" style="width: 100%;">Salvar Alterações</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Primeiro Link para abrir o modal -->
<div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="#"
        style="position:fixed;width:60px;height:60px;bottom:120px;right:40px;background-color:#FF4081;color:#FFF;border-radius:50px;text-align:center;font-size:35px;box-shadow: 1px 1px 2px #888; z-index:1000; cursor: pointer;"
        data-toggle="modal" data-target="#destinatarioModal">
        <img src="../static/img/do-utilizador.png" height="24px" width="24px">
    </a>
</div>

<!-- Segundo Link para abrir o modal -->
<div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="#"
        style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#FF4081;color:#FFF;border-radius:50px;text-align:center;font-size:35px;box-shadow: 1px 1px 2px #888; z-index:1000; cursor: pointer;"
        data-toggle="modal" data-target="#lancamentoModal">
        <span>+</span>
    </a>
</div>

<!-- Bootstrap e jQuery (necessário para o modal funcionar) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- JavaScript para submeter o formulário automaticamente -->
<script>
    document.getElementById('select-mes').addEventListener('change', function () {
        document.getElementById('filtro-lancamentos').submit();
    });

    document.getElementById('select-ano').addEventListener('change', function () {
        document.getElementById('filtro-lancamentos').submit();
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3/build/global/luxon.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // Usando Luxon para lidar com o fuso horário
        const DateTime = luxon.DateTime;

        // Obtenha a data atual no fuso horário de São Paulo
        const nowInSaoPaulo = DateTime.now().setZone('America/Sao_Paulo');

        // Formate a data para 'YYYY-MM-DD'
        const formattedDate = nowInSaoPaulo.toFormat('yyyy-MM-dd');

        // Obtenha o elemento de entrada da data
        const dateInput = document.getElementById('date');

        // Defina o valor do campo de data para a data atual em São Paulo
        dateInput.value = formattedDate;
    });
</script>


<script>
    $('#deleteTransactionModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Botão que acionou o modal
        var id = button.data('id');
        var date = button.data('date');

        let parts = date.split('/');
        let formattedDate = `${parts[2]}-${parts[1]}-${parts[0]}`;

        var modal = $(this);
        modal.find('#deleteTransactionId').val(id);
        modal.find('#deleteDate').val(formattedDate);

    });
</script>


<script>
    $('#editLancamentoModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Botão que acionou o modal
        var id = button.data('id');
        var date = button.data('date');
        var category = button.data('category');
        var especie = button.data('especie');
        var destinatario = button.data('destinatario');
        var description = button.data('description');
        var type = button.data('type');
        var amount = button.data('amount');

        var modal = $(this);
        modal.find('#editTransactionId').val(id);
        modal.find('#editDate').val(date);
        modal.find('#editCategoria').val(category);
        modal.find('#editEspecie').val(especie);
        modal.find('#editDestinatario').val(destinatario);
        modal.find('#editDescricao').val(description);
        modal.find('#editTypeTransaction').val(type);
        modal.find('#editAmount').val(amount);
    });
</script>
<script>
    const select1 = document.getElementById("categoria");
    const select2 = document.getElementById("especie");

    // Objeto que mapeia as opções
    const optionsMap = {
        "pessoal": [
            { value: "operacional", text: "Operacional" },
            { value: "administrativo", text: "Administrativo" }
        ],
        "publicidade": [
            { value: "google ads", text: "Google ads" },
            { value: "meta", text: "meta" },
            { value: "rádio", text: "Rário" },
            { value: "TV", text: "TV" },
        ],
        "escritório": [
            { value: "aluguel", text: "Aluguel" },
            { value: "água", text: "Água" },
            { value: "energia", text: "Energia" },
            { value: "internet", text: "Internet" },
            { value: "celular", text: "Celular" },
            { value: "equipamentos", text: "Equipamentos" },
        ],
        "comissão": [
            { value: "operacional", text: "Operacional" },
            { value: "administrativa", text: "Administrativa" },
        ],
        "transporte": [
            { value: "combustível", text: "Combustível" },
            { value: "passagem", text: "Passagem" },
        ]
    };

    // Função que atualiza o segundo select com base na seleção do primeiro
    select1.addEventListener("change", function () {
        const selectedValue = select1.value;

        // Limpa o segundo select
        select2.innerHTML = "<option value=''>Selecione uma opção</option>";

        // Se houver uma opção válida no primeiro select
        if (optionsMap[selectedValue]) {
            // Adiciona as novas opções no segundo select
            optionsMap[selectedValue].forEach(option => {
                const newOption = document.createElement("option");
                newOption.value = option.value;
                newOption.text = option.text;
                select2.appendChild(newOption);
            });
        }
    });
</script>

<script>
    const select3 = document.getElementById("editCategoria");
    const select4 = document.getElementById("editEspecie");

    // Objeto que mapeia as opções
    const optionsMap1 = {
        "pessoal": [
            { value: "operacional", text: "Operacional" },
            { value: "administrativo", text: "Administrativo" }
        ],
        "publicidade": [
            { value: "google ads", text: "Google ads" },
            { value: "meta", text: "meta" },
            { value: "rádio", text: "Rário" },
            { value: "TV", text: "TV" },
        ],
        "escritório": [
            { value: "aluguel", text: "Aluguel" },
            { value: "água", text: "Água" },
            { value: "energia", text: "Energia" },
            { value: "internet", text: "Internet" },
            { value: "celular", text: "Celular" },
            { value: "equipamentos", text: "Equipamentos" },
        ],
        "comissão": [
            { value: "operacional", text: "Operacional" },
            { value: "administrativa", text: "Administrativa" },
        ],
        "transporte": [
            { value: "combustível", text: "Combustível" },
            { value: "passagem", text: "Passagem" },
        ]
    };

    // Função que atualiza o segundo select com base na seleção do primeiro
    select3.addEventListener("change", function () {
        const selectedValue = select3.value;

        // Limpa o segundo select
        select4.innerHTML = "<option value=''>Selecione uma opção</option>";

        // Se houver uma opção válida no primeiro select
        if (optionsMap1[selectedValue]) {
            // Adiciona as novas opções no segundo select
            optionsMap1[selectedValue].forEach(option => {
                const newOption = document.createElement("option");
                newOption.value = option.value;
                newOption.text = option.text;
                select4.appendChild(newOption);
            });
        }
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        configurarFormatacaoValor("amount"); // Substitua "amount" pelo ID do input que você quer formatar
    });
</script>


<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script>
    function abrirObservacao(btn) {
  const id = btn.dataset.id;
  const date = btn.dataset.date;
  const texto = btn.dataset.observacao || "";

  document.getElementById("obsTransactionId").value = id;
  document.getElementById("obsTexto").value = texto;
  document.getElementById("obsDate").value = date;

  $('#observacaoModal').modal('show');
}

function salvarObservacao() {
  const transaction_id = document.getElementById("obsTransactionId").value;
  const observacao = document.getElementById("obsTexto").value;
  const date = document.getElementById("obsDate").value;
    console.log(date);
  fetch("/salvar_observacao", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ transaction_id, observacao, date })
  })
  .then(r => r.json())
  .then(() => location.reload());
}

</script>
{% endblock %}