<!-- templates/login.html -->
{% extends "layout.html" %}

{% block title %}HomePage{% endblock %}

{% block content %}
<h2>Bem-vindo ao Dashboard</h2>
<p>Você está logado como: {{ user_email }}</p>
<link href="../static/css/dashboard.css" rel="stylesheet">
<div>
    <form id="lancamentoForm" method="post" action="/post_lancamento">
        <div class="modal-content">
            <div class="modal-header">
                <div style="width: 100%;">
                    <Label style="font-size: small; font-weight: bold;">Tipo</Label>
                    <div>
                        <select class="form-select" name="typeTransaction" required>
                            <option value="c">Receita</option>
                            <option value="d">Despesa</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="my-4">
                    <label for="origem" style="font-size: small;">Origem</label>
                    <select class="form-select" name="origem" required>
                        {% for id in destinatarios %}
                        <option value="{{destinatarios[id]}}">{{destinatarios[id]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="col">
                        <Label style="font-size: small;">Valor (R$)</Label>
                        <input class="form-control" name="amount" id="amount" required>
                    </div>
                    <div class="col">
                        <Label style="font-size: small;">Data</Label>
                        <input class="form-control" type="date" id="date" name="date" required>
                    </div>
                </div>
                <div class="my-2">
                    <Label style="font-size: small;">Categoria</Label>
                    <select id="categoria" class="form-select" name="categoria" required>
                        <option>Selecionar</option>
                        <option value="pessoal">Pessoal</option>
                        <option value="publicidade">Publicidade</option>
                        <option value="escritório">Escritório</option>
                        <option value="comissão">Comissão</option>
                        <option class="transporte">Transporte</option>
                    </select>
                </div>
    
                <label for="especie" style="font-size: small;">Espécie</label>
                <select id="especie" class="form-select" name="especie">
                    <option value="">Selecione primeiro uma opção acima</option>
                </select>
                <div class="my-4">
                    <label for="destinatario" style="font-size: small;">Destinatário</label>
                    <select class="form-select" name="destinatario">
                        <option selected value="">Selecionar</option>
                        {% for id in destinatarios %}
                        <option value="{{destinatarios[id]}}">{{destinatarios[id]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row my-2">
                    <div class="col">
                        <Label style="font-size: small;">Descrição</Label>
                        <input class="form-control" type="text" name="descricao">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2" style="width: 100%;">Salvar</button>
    
            </div>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/luxon@3/build/global/luxon.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // Usando Luxon para lidar com o fuso horário
        const DateTime = luxon.DateTime;

        // Obtenha a data atual no fuso horário de São Paulo
        const nowInSaoPaulo = DateTime.now().setZone('America/Sao_Paulo');

        // Formate a data para 'YYYY-MM-DD'
        const formattedDate = nowInSaoPaulo.toFormat('yyyy-MM-dd');

        // Obtenha o elemento de entrada da data
        const dateInput = document.getElementById('date');

        // Defina o valor do campo de data para a data atual em São Paulo
        dateInput.value = formattedDate;
    });
</script>
<script>
    const select1 = document.getElementById("categoria");
    const select2 = document.getElementById("especie");

    // Objeto que mapeia as opções
    const optionsMap = {
        "pessoal": [
            { value: "operacional", text: "Operacional" },
            { value: "administrativo", text: "Administrativo" }
        ],
        "publicidade": [
            { value: "google ads", text: "Google ads" },
            { value: "meta", text: "meta" },
            { value: "rádio", text: "Rário" },
            { value: "TV", text: "TV" },
        ],
        "escritório": [
            { value: "aluguel", text: "Aluguel" },
            { value: "água", text: "Água" },
            { value: "energia", text: "Energia" },
            { value: "internet", text: "Internet" },
            { value: "celular", text: "Celular" },
            { value: "equipamentos", text: "Equipamentos" },
        ],
        "comissão": [
            { value: "operacional", text: "Operacional" },
            { value: "administrativa", text: "Administrativa" },
        ],
        "transporte": [
            { value: "combustível", text: "Combustível" },
            { value: "passagem", text: "Passagem" },
        ]
    };

    // Função que atualiza o segundo select com base na seleção do primeiro
    select1.addEventListener("change", function () {
        const selectedValue = select1.value;

        // Limpa o segundo select
        select2.innerHTML = "<option value=''>Selecione uma opção</option>";

        // Se houver uma opção válida no primeiro select
        if (optionsMap[selectedValue]) {
            // Adiciona as novas opções no segundo select
            optionsMap[selectedValue].forEach(option => {
                const newOption = document.createElement("option");
                newOption.value = option.value;
                newOption.text = option.text;
                select2.appendChild(newOption);
            });
        }
    });
</script>
<script>
    // Função para formatar o valor
    const inputValor = document.getElementById('amount');
    inputValor.addEventListener('input', formatarValor);

    function formatarValor() {
        let valor = inputValor.value.replace(/\D/g, '');  // Remove tudo que não for dígito
        const parteInteira = valor.slice(0, -2);
        const parteDecimal = valor.slice(-2);
        const parteInteiraFormatada = parteInteira.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        inputValor.value = `${parteInteiraFormatada},${parteDecimal}`;
    }
</script>
{% endblock %}