<!-- templates/login.html -->
{% extends "layout.html" %}

{% block title %}Usuário{% endblock %}

{% block content %}
<div class="my-2">
    <h2>Usuário</h2>
</div>
<link href="../static/css/dashboard.css" rel="stylesheet">
<div>
    <div>
        <label>Nome:</label>
        <span>{{ name }}</span>
    </div>
    <div>
        <ul class="list-group">
            {% for city in cities %}
            <li class="list-group-item">{{ city }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}